.nav-link {
    position: relative;
    display: block;
    height: fit-content;
    overflow: hidden;

    &__text {
        transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);

        &--visible {
            display: flex;
        }

        &--hidden {
            position: absolute;
            inset: 0;
            transform: translateY(100%);
        }
    }

    &:hover {
        .nav-link__text--visible {
            transform: translateY(-100%);
        }

        .nav-link__text--hidden {
            transform: translateY(0);
        }
    }

    &:visited {
        color: inherit;
    }
}

@media (max-width: 1024px) {   
    .nav-link {
        &__text--hidden {
            display: none;
        }

        &:hover {
            .nav-link__text--visible {
                transform: none;
            }
        }
    }
}