.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--background);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 var(--gutter);

    &__logo {
        font-family: var(--font-cormorant);
        font-size: 1.5rem;
    }

    &__nav {
        ul {
            display: flex;
            gap: 2rem;
        }

        &-item {
            text-transform: uppercase;
        }
    }
}