.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--background);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
    padding: 0 var(--gutter);

    &__logo {
        font-family: var(--font-cormorant);
        font-size: 1.5rem;
    }

    &__nav {
        ul {
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        &-item {
            display: flex;
            text-transform: uppercase;
        }
    }
}

.menu-button {
    display: none;
}

@media (max-width: 1024px) {
    .header {
        &__nav {
            display: none;
        }
    }

    .menu-button {
        display: flex;
        font-size: var(--font-size-medium);
        text-transform: uppercase;
        color: inherit;
    }

    .mobile-menu {
        position: fixed;
        max-width: 380px;
        width: 100%;
        height: 100dvh;
        top: 0;
        right: 0;
        background-color: var(--background);
        z-index: 1000;

        &__inner {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: var(--gutter);
        }

        &__header {
            display: flex;
            justify-content: space-between;

            button {
                font-size: 1.5rem;
            }

            span {
                text-transform: uppercase;
            }
        }

        &__nav {
            padding-top: calc(2 * var(--gutter));

            &-item {
                //font-weight: 500;
                text-transform: uppercase;
                font-size: 1.1rem;
                padding: 0.5rem 0;
            }
        }

        span {
            display: block;
            margin-top: auto;
            text-align: right;
            font-family: var(--font-cormorant);
            font-size: 1.5rem;
        }
    }
}