@use './hero';
@use './testimonies';

.home {
    &__intro {
        text-align: center;
        font-size: var(--font-size-lg);
        margin-bottom: -1px;
    }

    .container  {
        border-top: var(--border);
        border-bottom: var(--border);
    }

    &__works {
        $gap: calc(1.5 * var(--gutter));

        &-list {
            display: flex;
            gap: $gap;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
        }

        &-item {
            position: relative;
            scroll-snap-align: start;
            flex: 0 0 calc((100% / 3) - (2 * $gap / 3));
            outline: var(--border);
        }
    }

    &__services-list, &__steps-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        article {
            border-top: var(--border);
            margin-top: -1px;
            padding: var(--cell-gutter);
            display: flex;
            flex-direction: column;

            &:not(:last-child) {
                border-right: var(--border);
            }

            h3 {
                font-size: clamp(1.7rem, 2vw, 2.1rem);
                margin: var(--gutter) 0;

                &:before {
                    content: '✦';
                    display: inline-block;
                    margin-right: 0.7rem;
                    font-size: 0.6em;
                }
            }
        }
    }

    &__services-list {
        border-bottom: var(--border);
    }

    &__steps-list {
        counter-reset: counter;

        article {
            position: relative;
            counter-increment: counter;
            overflow: hidden;

            &::before {
                content: "0" counter(counter);
                position: absolute;
                bottom: -0.3em;
                left: -0.1em;
                font-size: clamp(10rem, 15vw, 18rem);
                font-family: var(--font-cormorant-infant);
                color: var(--background);
                z-index: -1;
            }

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: var(--beige);
                z-index: -2;
            }
        }
    }

    &__about {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin: var(--cell-gutter) 0;
        border-top: var(--border);
        border-bottom: var(--border);

        .img-container {
            height: auto;
            aspect-ratio: 5 / 3;
            border-right: var(--border);
            position: relative;

            img {
                object-fit: cover;
                height: 100%;
                filter: saturate(0.8);
            }
        }

        h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color:  #ffffff;
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
            text-align: center;
            font-size: var(--font-size-xl);
        }

        &-content {
            display: flex;
            flex-direction: column;
            padding: var(--cell-gutter);

            p {
                font-size: var(--font-size-lg);
                margin-bottom: var(--cell-gutter);
            }

            &-footer {
                margin-top: auto;
                
                a {
                    width: fit-content;
                }
            }
        }
    }
}

@media(max-width: 1720px) {
    .home {
        &__services-list {
            grid-template-columns: repeat(2, 1fr);

            article {
                &:nth-child(2) {
                    border-right: none !important;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .home {
        &__steps-list {
            grid-template-columns: repeat(2, 1fr);

            article {
                &:nth-child(2) {
                    border-right: none !important;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .home {
        &__about {
            grid-template-columns: repeat(1, 1fr);

            .img-container {
                border-right: none;
                border-bottom: var(--border);
            }
        }
    }
}

@media (max-width: 768px) {
    .home {
        &__works-item {
            flex: 0 0 85%;
        }

        &__services-list, &__steps-list {
            grid-template-columns: repeat(1, 1fr);

            article {
                border-right: none !important;
            }
        }
    }
}
