.home {
    &__content {
        min-height: 100vh;
        padding-top: var(--gutter) !important;
    }
}

.hero {
    min-height: 40rem;
    height: 100svh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__overlay {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        user-select: none;
    }

    &__img-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        animation: fadeInOut 11s infinite ease-in-out;
    }

    img {
        max-height: 100%;
        object-fit: cover;
    }

    &__content {
        position: relative;
        text-align: center;
        z-index: 10;
        color:  #ffffff;
        font-size: clamp(1.2rem, 2vw, 2.5rem);
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    }
}

@keyframes fadeInOut {
    0%     { opacity: 1; }
    45.45% { opacity: 1; }
    50%    { opacity: 0; }
    95.45% { opacity: 0; }
    100%   { opacity: 1; }
}

@media (max-width: 768px) {
    .hero {
        min-height: 30rem;
        height: calc(100svh - 2rem);
    }
}
