@use './about';
@use './animations';
@use './contact';
@use './footer';
@use './header';
@use './home';
@use './legal';
@use './projects';

:root {
    --background: #fffef2;
    --foreground: #333333;
    --beige: #f4eddb;
    --beige-light: #f8f5e1;
    --gutter: clamp(0.75rem, 1.8vw, 2rem);
    --cell-gutter: clamp(1.2rem, 1.8vw, 2rem);
    --font-size-base: clamp(0.9rem, 1vw, 1rem);
    --font-size-lg: clamp(1rem, 1.1vw, 1.2rem);
    --font-size-xl: clamp(2rem, 2.8vw, 3rem);
    --font-size-2xl: clamp(2.8rem, 3.8vw, 4.2rem);
    --navbar-height: 80px;
    --border: 1px solid var(--foreground);
    --line-height: 1.5;
}

html,
body {
    max-width: 100vw;
}

body {
    color: var(--foreground);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--font-size-base);
    font-weight: 400;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--background) var(--foreground);
}

main {
    padding: var(--navbar-height) var(--gutter) var(--gutter) var(--gutter);
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    transition: opacity 0.3s ease;
}

p {
    line-height: var(--line-height);
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;

    &[disabled] {
        cursor: not-allowed;
    }
}

h1, h2, h3 {
    font-family: var(--font-cormorant);
    font-weight: 600;
}

h1 {
    line-height: 1em;
}

input, textarea {
    display: block;
    background-color: var(--beige);
    color: var(--foreground);
    font-family: inherit;
    font-size: var(--font-size-base);
    font-weight: inherit;
    width: 100%;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 1rem;
    line-height: var(--line-height);

    &:-webkit-autofill, &:-webkit-autofill:focus {
        transition: background-color 0s 600000s, color 0s 600000s !important;
    }
}

// classes
.page {
    border: 1px solid var(--foreground);
    border-top: 0;
    padding: 3px; 
    position: relative;

    &__top-line {
        position: sticky;
        height: 1px;
        width: 100%;
        z-index: 100;
        top: var(--navbar-height);
        background-color: var(--foreground);
    }

    &__inner {
        border: 4px solid var(--foreground);
    }
}

.container {
    padding: calc(2.5 * var(--gutter)) var(--gutter);
    text-align: center;

    h1 {
        font-size: var(--font-size-2xl);
    }

    h2 {
        font-size: var(--font-size-xl);
    }
}

.img-container {
    background-color: var(--beige-light);
    overflow: hidden;
}

.underlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 100;
}

.mobile-only {
    display: none;
}

.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 50px;
    height: 50px;

    &--light {
        background-color: var(--beige);
    }

    &--dark {
        background-color: var(--foreground);
        color: var(--background);
    }
}

.arrow {
    display: flex;
    transition: background-color .2s ease, color .2s ease;
    font-size: 1.3rem;
    background-color: var(--foreground);
    color: var(--background);
    outline: 1px solid var(--foreground);

    &:hover {
        background-color: var(--background);
        color: var(--foreground);
    }
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--foreground);
    font-size: var(--font-size-base);
    height: 48px;
    padding: .75rem 3rem;
    transition: background-color .2s ease, color .2s ease;
    
    &--contained {
        background-color: var(--foreground);
        color: var(--background);

        &:hover {
            background-color: transparent;
            color: var(--foreground);
        }
    }

    &--outlined {
        background-color: transparent;
        color: var(--foreground);

        &:hover {
            background-color: var(--foreground);
            color: var(--background);
        }
    }
}

.hover-fade {
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.6;
    }
}

.spinner {
    display: inline-flex;
    font-size: var(--font-size-lg);
    animation: rotate 1s linear infinite;
}

.modal {
    position: fixed;
    padding: var(--cell-gutter);
    background-color: var(--background);
    top: 50%;
    left: 50%;
    width: calc(100% - (2 * var(--gutter)));
    max-width: 500px;
    z-index: 1000;

    &__close-btn {
        float: right;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 768px) {
    :root {
        --navbar-height: 60px;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .page {
        padding: 2px;

        &__inner {
            border-width: 3px;
        }
    }

    .arrow {
        &:hover {
            background-color: var(--foreground);
            color: var(--background);
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}
