@use './animations';
@use './header';
@use './home';

:root {
    --background: #fffef2;
    --foreground: #333333;
    --gutter: clamp(1rem, 1.5vw, 2rem);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--background) var(--foreground);
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    transition: opacity 0.3s ease;
}

h1, h2, h3 {
    font-family: var(--font-cormorant);
}

// classes
.page {
    padding: calc(3 * var(--gutter)) var(--gutter);
}

.container {
    padding: var(--gutter);
    border: 1px solid var(--foreground);
    outline: 4px solid var(--foreground);
    outline-offset: -8px;
}

.img-container {
    height: 100%;
    background-color: #ebe8d6;
}

@media (max-width: 768px) {
    .container {
        outline: 3px solid var(--foreground);
        outline-offset: -6px;
    }
}
